{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>Index</h1>

    <a href="{{ path('google_client_index') }}">GoogleClient</a>
    <br>
    <a href="{{ path('video_index') }}">Video</a>
    <br>
{% endblock %}
