<form method="post" action="{{ path('google_client_delete', {'id': google_client.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ google_client.id) }}">
    <button class="btn">Delete</button>
</form>
