{% extends 'base.html.twig' %}

{% block title %}Authenticate{% endblock %}

{% block body %}
    <h1>Authenticate</h1>

    <span>project_id: </span> <span>{{ project_id }}</span>
    <div>
        <span>auth_url: </span><a href="{{ auth_url }}" target="_blank"> {{ auth_url }}</a>
    </div>
    <form action="{{ path('youtube_channel_add_post', {'client': client_id}) }}" method="POST">
        <label for="">
            <span>Code: </span>
            <input type="text" name="code">
        </label>
        <button>OK</button>
    </form>
{% endblock %}
