{% extends 'base.html.twig' %}

{% block title %}Edit GoogleClient{% endblock %}

{% block body %}
    <h1>Edit GoogleClient</h1>

    {{ include('google_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('google_client_index') }}">back to list</a>

    {{ include('google_client/_delete_form.html.twig') }}
{% endblock %}
