{% extends 'base.html.twig' %}

{% block title %}GoogleClient index{% endblock %}

{% block body %}
    <h1>GoogleClient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProjectId</th>
                <th>Channels</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for google_client in google_clients %}
            <tr>
                <td>{{ google_client.id }}</td>
                <td>{{ google_client.projectId }}</td>
                <td>
                    {% for token in google_client.tokenCollection %}
                        <span>{{ token.channel.channelTitle }},</span>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('google_client_show', {'id': google_client.id}) }}">show</a>
                    <a href="{{ path('youtube_channel_add', {'client': google_client.id}) }}">add channel</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('google_client_new') }}">Create new</a>
{% endblock %}
