{% extends 'base.html.twig' %}

{% block title %}New GoogleClient{% endblock %}

{% block body %}
    <h1>Create new GoogleClient</h1>

    {{ include('google_client/_form.html.twig') }}

    <a href="{{ path('google_client_index') }}">back to list</a>
{% endblock %}
