{% extends 'base.html.twig' %}

{% block title %}GoogleClient{% endblock %}

{% block body %}
    <h1>GoogleClient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ google_client.id }}</td>
            </tr>
            <tr>
                <th>ClientId</th>
                <td>{{ google_client.clientId }}</td>
            </tr>
            <tr>
                <th>ProjectId</th>
                <td>{{ google_client.projectId }}</td>
            </tr>
            <tr>
                <th>AuthUri</th>
                <td>{{ google_client.authUri }}</td>
            </tr>
            <tr>
                <th>TokenUri</th>
                <td>{{ google_client.tokenUri }}</td>
            </tr>
            <tr>
                <th>AuthProviderX509CertUrl</th>
                <td>{{ google_client.authProviderX509CertUrl }}</td>
            </tr>
            <tr>
                <th>ClientSecret</th>
                <td>{{ google_client.clientSecret }}</td>
            </tr>
            <tr>
                <th>RedirectUris</th>
                <td>{{ google_client.redirectUris ? google_client.redirectUris|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>JsonData</th>
                <td>{{ google_client.jsonData ? google_client.jsonData|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('google_client_index') }}">back to list</a>

    {{ include('google_client/_delete_form.html.twig') }}
{% endblock %}
