{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    <h1>Video</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ video.title }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ video.status }}</td>
            </tr>
            <tr>
                <th>VideoFilepath</th>
                <td><a href="{{ video.videoFilepath }}">{{ video.videoFilepath }}</a></td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ video.source }}</td>
            </tr>
            <tr>
                <th>SourceUrl</th>
                <td>{{ video.sourceUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('video_index') }}">back to list</a>

    <a href="{{ path('video_edit', {'id': video.id}) }}">edit</a>

    {{ include('video/_delete_form.html.twig') }}
{% endblock %}
